-r requirements.txt
black
pytest
scikit-image
sphinx
sphinx-rtd-theme
sphinxcontrib-bibtex
lifelines
-e git+git://github.com/brunobeltran/matplotlib.git@0d1f34338c5aeb409fcc9a009051f9f3bc8c4997#egg=matplotlib
bayesian-optimization
